/*
colours:
#58BFBD light green
#5E727C gray
#359899 mixed green gray
#253237 TEXTGRAY
*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(30%, 1fr));
  grid-template-rows: 1fr 0.5fr 1fr 4fr;
  gap: 0px 0px;
  grid-template-areas:
    'ContactDetails CvTitle ProfilePic'
    'BackGroundMix NameText ClearGreen'
    'StatementText StatementText StatementText'
    'TechTools FurtherEduc FurtherEduc';
}

.ContactDetails {
  grid-area: ContactDetails;
  background-color: #5e727c;
}

.CvTitle {
  grid-area: CvTitle;
  background: #fff;
}

.ProfilePic {
  grid-area: ProfilePic;
  background: #fff;
}

.BackGroundMix {
  grid-area: BackGroundMix;
  background: #359899;
}

.NameText {
  grid-area: NameText;
  background: #58bfbd;
}

.ClearGreen {
  grid-area: ClearGreen;
  background: #58bfbd;
}

.StatementText {
  grid-area: StatementText;
  background: #359899;
}

.TechTools {
  grid-area: TechTools;
  background: #5e727c;
}

.FurtherEduc {
  grid-area: FurtherEduc;
  background: #fff;
}
