/*
colours:
LIGHT GREEN = #19A8A7
LIGHT GREEN/gray = #29434F
LIGHT BLUE/green = #43525D
WHITE = #ffffff
DARK GRAY = #333333
*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin-top: 10px;
  padding: 2px;
}

.flex-container > .LeftBackDrop {
  background-color: #43525d;
  width: 500px;
  height: 200px;
  margin: auto;
  padding: 20px;
}

.flex-container > .CenterTopDrop {
  background-color: #ffffff;
  width: 500px;
  height: 200px;
  margin: auto;
  padding: 20px;
}

.flex-container > .RightBackDrop {
  background-color: #ffffff;
  width: 500px;
  height: 200px;
  margin: auto;
  padding: 20px;
}
