.textBlock {
  display: inline-block;
  font-size: 10px;
  color: #fff;
}

section {
  width: 250px;
  text-align: left;
}

.btn {
  margin-top: 5px;
  border-radius: 50%;
  vertical-align: middle;
  color: #000;
  border: 3px solid #fff;
  background-color: #fff !important;
}

.btn.itemThree {
  margin-left: 10px;
  margin-right: 8px;
  border-radius: 50%;
  margin-top: -10px;
  vertical-align: middle;
  color: #000;
  border: none;
  background-color: #fff !important;
}

.item {
  margin: 0 10px;
  display: inline;
  vertical-align: middle;
}

.itemOneText {
  
  margin: 5px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  border: 3px solid #000;
  background-color: #000 !important;
}

.itemTwoText {
  margin: 10px;
  margin-top: 14px;
  display: inline-block;
  vertical-align: middle;
}

.itemTwo {
  margin: 10px;
  margin-top: 0px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
}
