section {
  margin: 10% auto;
}

.table {
  display: table;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.itemIcon {
  border-radius: 50%;
  float: left;
  margin: 20px 0 0 60px;
  background-color: #fff;
  border: 5px solid #fff;
  color: #000;
}

.itemText {
  font-size: 1.3em;
  display: block;
  color: #fff;
  text-align: left;
  padding: 16px;
  text-decoration: none;
  margin-left: 120px;
}
