section {
  margin: 10% auto;
}

.table {
  display: table;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.itemIcon {
  display: block;
  border-radius: 50%;
  float: left;
  margin: 20px 0 0 60px;
  background-color: #fff;
  border: 5px solid #fff;
  color: #000;
}

.itemText {
  font-size: 1.4em;
  font-weight: 600;
  color: #fff;
  text-align: left;
  padding-top: 20px;
  margin-left: 140px;
}
