/*
colours:
#58BFBD light green
#5E727C gray
#359899 mixed green gray
#253237 TEXTGRAY
*/

.FurtherEduBlock {
  width: 550px;
  margin: 50px auto;
}

.FurtherEduIcon {
  height: 70px;
  width: 70px;
  float: left;
  border-radius: 50%;
  padding: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  margin-right: 0px;
  margin-top: -5px;
}

.vl {
  position: absolute;
  border-left: 5px solid #000;
  height: 280px;
  margin-left: 34px;
}

.FurtherItemText {
  font-size: 1.8em;
  font-weight: bolder;
}

.EducationTextBlock {
  text-align: left;
  margin-left: 135px;
  line-height: 0.8rem;
  font-size: 0.9em;
  font-weight: bold;
}

.EduDetail,
.EduEmail {
  color: #359899;
}

.ItemIcon {
  margin-right: 10px;
}

.WETextTitle {
  font-weight: 900;
  font-size: 1.3em;
  line-height: 1.3em;
}

.WETextText {
  font-weight: 500;
  font-size: 1em;
  line-height: 1.1em;
}
