.JldLink {
  color: #fff;
  font-weight: 500;
}

.JldLink2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 40px;
  margin-right: 60px;
}

.JldLink:hover {
  color: #fff;
  font-size: 1.3em;
  font-weight: bolder;
  text-shadow: 1px 1px 5px #000;
  text-decoration: none;
  transition: 0.5s;
}
