.MainTitle {
  color: #fff;
  font-size: 3em;
  margin-top: 20px;
  margin-left: 80px;
  line-height: 80%;
}

.SecondaryTitle {
  color: #fff;
  font-size: 1.2em;
  line-height: 90%;
  margin-left: 80px;
  margin-bottom: 30px;
}
