.StatementText {
  padding: 0 10px;
  background-color: #359899;
  font-size: 1.1em;
}

.StateTitle {
  text-align: left;
  font-weight: bold;
}

article {
  background-color: #fff;
  padding: 20px 50px;
  margin: 0 auto 15px;
}

.TextBox {
  width: auto;
  text-align: justify;
  text-justify: inter-word;
}
