.StatementText {
  padding: 0 10px;
  background-color: #359899;
  font-size: 1.1em;
  line-height: normal;
  text-align: left;
}

.ProjectLinks,
h6 {
  color: #359899 !important;
  font-style: italic;
  text-align-last: right !important;
}

.ProjectLinks a:hover {
  color: #359899;
}

.StatementText p {
  text-align-last: justify;
}

.StatementText p.lastText {
  text-align-last: left;
}

.StatementText p.ProjectLinks {
  color: #359899 !important;
  text-align-last: right !important;
}

.StatementText p.ProjectLinks:hover {
  font-size: 1.1em;
  text-align-last: right;
  text-decoration: none !important;
}

.StateTitle {
  text-align: left;
  font-size: 1.2em;
}

article {
  background-color: #fff;
  padding: 20px 50px;
  margin: 0 auto 20px;
}

.TextBox {
  width: 1100px;
  height: auto;
}

.css-typing p {
  white-space: nowrap;
  overflow: hidden;
}

/*--------------------*/
.css-typing p:nth-child(1) {
  width: 1200px;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 1200px;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 1200px;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  width: 1200px;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(5) {
  width: 1200px;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(6) {
  width: 1200px;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(7) {
  width: 1200px;
  opacity: 0;
  -webkit-animation: type2 5s steps(20, end),
    blink 0.5s step-end infinite alternate;
  animation: type2 5s steps(20, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing .ProjectLinks:nth-child(8) {
  width: 1200px;
  opacity: 0;
  -webkit-animation: type2 3s steps(20, end),
    blink 0.5s step-end infinite alternate;
  animation: type2 3s steps(20, end), blink 0.5s step-end infinite alternate;
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition: 2s;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
