.TechSection {
  color: #fff;
  width: 340px;
  margin: auto;
  padding: 5%;
}

.TechTitle {
  text-transform: uppercase;
  margin: 30px 20px 30px;
  text-align: left;
}

table {
  text-align: left;
  font-weight: 500;
}

.ul {
  text-align: left;
  width: 350px;
}

.li {
  list-style: disc;
}

.OnlineCode {
  margin-top: 10px;
  margin-left: 25px;
  text-align: left;
  font-weight: 500;
}
