.WorkBlock {
  padding: 50px 80px;
  width: 850px;
  margin-left: 75px;
}

.ItemIconLarge2 {
  border-radius: 50%;
  background-color: #000;
  border: 15px solid #000;
  color: #fff;
  margin-left: -310 px;
}

.vl2 {
  position: absolute;
  border-left: 5px solid #000;
  height: 600px;
  margin-left: 400px;
}

.WorkTitle {
  font-weight: 900;
  font-size: 1.8em;
  margin-left: -410px;
}

.EducationDetails {
  margin: auto;
  color: #58bfbd;
  text-align: left;
  line-height: 10px;
  font-weight: 600;
}

.EduName {
  color: #000;
  font-weight: 700;
  font-size: 1.5em;
}

.EduDetail {
}

.ItemIcon {
  border-radius: 50%;
  color: #58bfbd;
  margin-right: 10px;
}
