.App {
  text-align: center;
}

body {
  width: 1200px;
  height: 100%;
  margin: auto;
  font-family: 'Times New Roman';
  font-weight: 600;
  font-size: 1.2em;
  background-color: #58bfbd;
  padding: 10px;
}
